# --- Credentials ---
config.json

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
src/*.egg-info/
build/
.venv/
venv/
env/

# --- Logs and Debugging ---
*.log
kc_exe_debug.txt
*.spec

# --- Build Artifacts ---
# Exclude dist content but allow .exe files
dist/*
!dist/*.exe

# --- Editors/IDE ---
.vscode/
.idea/
